# Copia este archivo y renómbralo a application-local.properties
# Llenalos con los valores de tu entorno local
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

security.jwt.secret=
app.seed.admin.email=
app.seed.admin.password=